* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure body covers the full viewport height */
}

.calculator {
    display: flex;
    width: 72vmin;
    height: 96vmin;
    border-radius: 4vmin;
    background-color: hsl(205, 24%, 36%);

    /* Properties for children */
    flex-direction: column;
    padding: 8vmin 4vmin;
    justify-content: space-between;
    align-items: stretch;
}

.display {
    background-color: #d5dcda;
    border-radius: 2vmin;
    align-items: stretch;
    height: 32%;
}

.button-container {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    gap: 1vmin;
}

.button-container div {
    display: flex;
    height: 20%;
    flex: 1;
    justify-content: stretch;
    gap: 1vmin;
}

.button-container>div>button {
    font-size: 24px;
    font-weight: 500;
    background-color: #ffffff;
    border: none;
    flex: 1;
    border-radius: 1vmin;
}

.button-container button:hover {
    background-color: lightblue;
}

p {
    font-size: 6vmin;
}
