* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ensure body covers the full viewport height */
}

.calculator {
    display: flex; 
    width: 72vmin;
    height: 96vmin;
    border-radius: 4vmin;
    background-color: hsl(205, 24%, 36%);
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.display {
    background-color: #d5dcda;
    border-radius: 2vmin;
    align-items: stretch;
    height: 24%;
    margin: 12% 8% 4% 8%;
}

.button-container {
    display: flex;
    height: 48%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto 8% 12%;
    gap: 5%;
}

.button-container button {
    font-size: 24px;
    font-weight: 500;
    background-color: #f3f3f3;
    border: none;
    border-radius: 12%;
    width: 20%;
    height: 20%;
}
